In [5]:
import pandas as pd

In [6]:
# Import the CSV file and create a DataFrame.
player_df_final = pd.read_csv('https://raw.githubusercontent.com/drguthals/learnwithdrg/main/SpaceJamANewLegacy/player_data_final.csv')

In [7]:
# Create a DataFrame of only Tune Squad players.
ts_df = player_df_final.iloc[26: , :]
ts_df

,ID,player,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
26,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
27,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
28,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
29,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
30,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000
31,36,tune_squad6,2062.0,1505.7,111.5,59.771429,37.000000,0.620,29.8,15.6,36.2,4.9,23.9,14.7,27.860000
32,37,tune_squad7,1845.0,1435.7,113.1,69.000000,36.900000,0.634,33.2,14.0,36.5,4.1,21.5,16.4,34.260000
33,38,tune_squad8,1778.0,1526.4,109.3,66.000000,34.900000,0.612,30.6,15.9,35.9,5.5,18.8,13.7,28.650000
34,39,tune_squad9,1901.0,1444.1,109.7,67.000000,36.500000,0.609,27.2,14.8,35.5,5.0,21.8,8.9,20.120000
35,41,tune_squad11,2030.0,1431.0,112.3,68.000000,37.000000,0.618,32.5,15.3,34.5,5.7,15.7,13.2,30.070000
36,42,tune_squad12,1631.0,1465.7,110.1,66.000000,37.500000,0.613,28.4,14.4,35.7,6.5,20.7,14.0,28.400000
37,43,tune_squad13,1828.0,1507.2,112.7,64.000000,36.500000,0.618,31.3,14.0,34.9,5.9,21.3,14.5,29.094310
38,44,tune_squad14,1821.0,1443.7,118.8,66.000000,36.600000,0.609,27.3,13.5,35.8,7.0,23.8,11.5,22.960000
39,45,tune_squad15,1740.0,1443.9,114.1,68.000000,37.100000,0.611,26.6,15.2,29.3,8.3,17.7,11.1,21.220000
40,46,tune_squad16,1993.0,1459.0,112.5,59.771429,36.900000,0.627,30.4,15.0,33.7,6.3,19.3,14.1,28.760000

In [9]:
# Import Tune Squad player names.
ts_name_df = pd.read_csv('https://raw.githubusercontent.com/drguthals/learnwithdrg/main/SpaceJamANewLegacy/tune_squad.csv', sep='\t')
ts_name_df

    ID              player
0   31           Sylvester
1   32  Marvin the Martian
2   33         Road Runner
3   34     Foghorn Leghorn
4   35          Bugs Bunny
5   36          Elmer Fudd
6   37          Lola Bunny
7   38           Porky Pig
8   39     Tasmanian Devil
9   40        Yosemite Sam
10  41            Gossamer
11  42              Granny
12  43      Wile E. Coyote
13  44              Tweety
14  45            Penelope
15  46          Daffy Duck

In [10]:
# Merge the two DataFrames.
ts_df = pd.merge(ts_df, ts_name_df, on='ID', how='left', suffixes=('_type', '_name'))
ts_df.head()

,ID,player_type,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER,player_name
0,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000,Sylvester
1,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000,Marvin the Martian
2,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000,Road Runner
3,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138,Foghorn Leghorn
4,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000,Bugs Bunny

In [11]:
# Rearrange the columns to put the ID and player_name columns next to each other.
column_list = list(ts_df)

player_name = column_list.pop()
column_list[1] = player_name

ts_df = ts_df[column_list]
ts_df.head()

,ID,player_name,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
0,31,Sylvester,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
1,32,Marvin the Martian,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
2,33,Road Runner,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
3,34,Foghorn Leghorn,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
4,35,Bugs Bunny,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000

In [13]:
# Create a list of only the column names we are interested in
game_stat_cols = list(ts_df.iloc[:, 7:-1])
game_stat_stdevs = []

# Create a list of standard deviations for each stat.
for stat in game_stat_cols:
    game_stat_stdevs.append(ts_df[stat].std())

# Create a Series of the standard deviations with the stat names as the index.

stdev_s = pd.Series(game_stat_stdevs, index=game_stat_cols)
stdev_s

TS%     0.008262
AST     2.140494
TO      0.797197
USG     1.892718
ORR     1.139465
DRR     3.017962
REBR    1.802564
dtype: float64

In [16]:
# Import the models and libraries we need.
from sklearn.linear_model import LinearRegression
from numpy.random import randn

# Get the dependent and independent variables for modeling the PER.
X = player_df_final.iloc[:, 7:-1].to_numpy()
y = player_df_final.iloc[:, -1]

In [17]:
# Define and fit the model.
lin_reg = LinearRegression()
lin_reg.fit(X, y)

LinearRegression()

In [19]:
# Print the player with the highest and lower PER for each iteration.
print('Iteration # \thigh PER \tlow PER')

# Run the simulation 10 times.
for i in range(10):

    # Define an empty temporary DataFrame for each iteration.
    # The columns of this DataFrame are the player stats and the index is the players' names.
    game_df = pd.DataFrame(columns=game_stat_cols, index=list(ts_df['player_name']))
    
    # Loop through each stat.
    for stat in game_stat_cols:
        
        # Each player's stats are used to generate a random value for each iteration.
        game_df[stat] = list(ts_df[stat] + randn(len(ts_df)) * stdev_s[stat])
    
    # Use the fitted model to predict players' PERs based on the randomized data.
    game_df['PER'] = lin_reg.predict(game_df)

    # Print the player with the highest and lower PER for each iteration.
    print('Iteration {}'.format(i+1) + ' \t' + game_df['PER'].idxmax() + ' \t' + game_df['PER'].idxmin())

Iteration # 	high PER 	low PER
Iteration 1 	Wile E. Coyote 	Road Runner
Iteration 2 	Lola Bunny 	Penelope
Iteration 3 	Sylvester 	Marvin the Martian
Iteration 4 	Elmer Fudd 	Tasmanian Devil
Iteration 5 	Lola Bunny 	Tasmanian Devil
Iteration 6 	Wile E. Coyote 	Penelope
Iteration 7 	Foghorn Leghorn 	Road Runner
Iteration 8 	Gossamer 	Penelope
Iteration 9 	Lola Bunny 	Penelope
Iteration 10 	Granny 	Penelope

In [20]:
# Initialize four empty DataFrames, one for each 12-minute period.
number_of_iterations = 4
df_list = [pd.DataFrame(columns=game_stat_cols, index=list(ts_df['player_name'])) for i in range(number_of_iterations)]

# For each period, generate randomized player data and predict the PER.
# Use the model fitted earlier.
for df in df_list:
    for stat in game_stat_cols:
        df[stat] = list(ts_df[stat] + randn(len(ts_df)) * stdev_s[stat])
    df['PER'] = lin_reg.predict(df)

# Concatenate the DataFrames and make the players' names the index.
game_df = pd.concat(df_list)
game_df.rename_axis('player_name', inplace=True)

# Create another index for the period in question.
minutes = [(x // len(ts_df)) * 12 for x in range(len(game_df))]
game_df['minutes'] = minutes
game_df.set_index('minutes', append=True, inplace=True)
game_df = game_df.swaplevel()

game_df

                                 TS%        AST         TO        USG  \
minutes player_name
0       Sylvester           0.628079  31.880256  16.017350  37.528374
        Marvin the Martian  0.605415  32.757695  13.520061  29.814684
        Road Runner         0.625036  27.334554  13.237953  35.622866
        Foghorn Leghorn     0.622648  30.232449  14.688786  34.331606
        Bugs Bunny          0.622456  33.180839  16.512224  30.697316
        Elmer Fudd          0.611330  29.623998  14.635647  34.015978
        Lola Bunny          0.644617  34.454603  13.438965  35.115908
        Porky Pig           0.613306  30.002699  15.333303  36.308058
        Tasmanian Devil     0.598569  27.329570  14.700239  34.882067
        Gossamer            0.612884  30.100970  15.806333  31.919277
        Granny              0.618286  28.308636  14.258760  38.106259
        Wile E. Coyote      0.613921  32.520428  14.657052  34.331260
        Tweety              0.600960  29.290845  14.043829  37.846280
        Penelope            0.608109  26.250402  15.823502  24.268178
        Daffy Duck          0.624806  27.951104  15.308205  32.094146
12      Sylvester           0.617539  30.591061  15.183588  35.561725
        Marvin the Martian  0.613340  29.884758  13.149368  32.485235
        Road Runner         0.615026  27.892778  13.605268  35.975834
        Foghorn Leghorn     0.612199  33.345787  15.675903  36.927717
        Bugs Bunny          0.638842  31.542742  17.224226  32.937989
        Elmer Fudd          0.615975  28.377890  16.055895  33.873703
        Lola Bunny          0.642895  33.919682  13.584969  34.934210
        Porky Pig           0.603863  33.156898  15.304778  37.120794
        Tasmanian Devil     0.616034  28.062522  15.140335  35.723937
        Gossamer            0.620506  38.166957  14.397572  37.035178
        Granny              0.620448  24.183857  14.930653  36.265654
        Wile E. Coyote      0.624724  35.352435  13.231319  34.769541
        Tweety              0.601842  25.968105  12.176528  34.874924
        Penelope            0.607510  23.292980  16.309485  30.724367
        Daffy Duck          0.636154  32.940809  14.940294  34.480819
24      Sylvester           0.630594  33.204930  13.649513  38.230931
        Marvin the Martian  0.603953  30.844569  15.220002  33.006522
        Road Runner         0.630925  29.607876  12.444001  33.035540
        Foghorn Leghorn     0.619043  32.741681  14.093236  36.261750
        Bugs Bunny          0.636565  33.292072  14.410694  34.734662
        Elmer Fudd          0.620728  29.428950  15.460059  38.197273
        Lola Bunny          0.623635  35.038862  13.974588  37.848015
        Porky Pig           0.615351  30.626816  15.477345  34.526685
        Tasmanian Devil     0.623542  26.339929  14.104379  33.911297
        Gossamer            0.626670  28.782939  14.382570  35.330390
        Granny              0.598429  27.193810  13.998507  35.090184
        Wile E. Coyote      0.605831  29.769612  13.723313  34.191866
        Tweety              0.609949  27.613418  15.749649  33.566611
        Penelope            0.615847  23.927882  16.119896  30.711474
        Daffy Duck          0.625270  29.729949  14.673977  34.256712
36      Sylvester           0.628925  29.055106  15.174990  36.352303
        Marvin the Martian  0.580917  31.371771  14.530315  30.714335
        Road Runner         0.627653  27.806445  14.410112  38.487478
        Foghorn Leghorn     0.628753  31.302979  14.255742  33.119382
        Bugs Bunny          0.636868  30.279529  16.885360  32.295826
        Elmer Fudd          0.616083  28.274177  15.444813  35.697587
        Lola Bunny          0.636427  35.615540  13.524308  38.198518
        Porky Pig           0.620593  28.701993  16.209001  31.082578
        Tasmanian Devil     0.614812  24.583705  14.007519  36.767754
        Gossamer            0.628733  33.286349  14.114633  33.780562
        Granny              0.617895  30.687275  14.694965  37.151209
        Wile E. Coyote      0.593463  29.814351  14.860217  35.950947
        Tweety              0.618162  26.772535  14.649411  35.072876
        Penelope            0.616470  25.737714  14.603275  28.024761
        Daffy Duck          0.642876  29.368934  14.681440  32.410071

                                  ORR        DRR       REBR        PER
minutes player_name
0       Sylvester            7.378314  15.808539  12.620370  30.570892
        Marvin the Martian   7.188854  22.245847  15.568042  26.286379
        Road Runner          7.347782  29.907373  11.388554  19.919127
        Foghorn Leghorn      5.432727  20.534902  16.691800  32.135753
        Bugs Bunny           6.124458  20.079316  12.121538  22.988339
        Elmer Fudd           4.644368  23.504214  16.471641  29.324793
        Lola Bunny           4.999035  17.875686  16.754739  36.810543
        Porky Pig            5.514761  16.961561  14.859159  32.055550
        Tasmanian Devil      7.823220  18.888762  10.116038  22.094018
        Gossamer             4.704468  17.727372  12.236466  25.237773
        Granny               6.228661  21.079242  15.427409  31.906166
        Wile E. Coyote       4.653507  19.785901  14.345618  29.284032
        Tweety               7.130187  20.871512  12.100195  26.263680
        Penelope             8.136163  15.607361  10.583555  18.151863
        Daffy Duck           5.937624  19.410941  13.930448  27.086036
12      Sylvester            6.519262  17.260559  13.854731  30.159085
        Marvin the Martian   5.812977  26.262742  14.020047  23.969373
        Road Runner          6.111701  27.255440  13.208419  23.890275
        Foghorn Leghorn      5.834159  18.903020  11.233210  26.185998
        Bugs Bunny           7.765922  24.358476  13.110163  23.016165
        Elmer Fudd           5.497366  22.104629  13.208965  24.715587
        Lola Bunny           4.067095  19.030388  14.449630  32.788813
        Porky Pig            4.926622  20.879853  14.548669  29.620180
        Tasmanian Devil      3.767488  22.967813   8.142671  19.172524
        Gossamer             6.115645  17.893704  15.108260  33.842038
        Granny               4.788625  20.161355  12.087753  26.441772
        Wile E. Coyote       4.901272  24.706396  14.142372  27.840982
        Tweety               4.793148  25.599307   9.493278  19.285199
        Penelope            10.135015  15.784495  11.123106  21.561239
        Daffy Duck           6.090782  21.290929  16.035789  31.576674
24      Sylvester            8.103431  17.141557  15.540420  35.627579
        Marvin the Martian   5.946458  20.536804  14.692258  27.136340
        Road Runner          4.128446  31.288885  14.194656  23.217432
        Foghorn Leghorn      5.537803  11.558287  18.537219  41.760337
        Bugs Bunny           6.461523  18.742333  11.018847  26.602925
        Elmer Fudd           4.479084  21.584222  15.028925  31.115134
        Lola Bunny           3.676313  15.758389  17.470836  39.649337
        Porky Pig            4.804639  17.612546  14.270620  30.044340
        Tasmanian Devil      4.890204  18.481104   8.772619  22.292927
        Gossamer             7.600226  13.472915  12.939615  31.612822
        Granny               6.627621  22.243501  13.585621  25.625755
        Wile E. Coyote       4.540585  27.556448  17.803003  29.002627
        Tweety               6.101770  23.920900  13.248830  23.062090
        Penelope             8.778230  15.331377   8.073478  18.584394
        Daffy Duck           8.003829  17.406995  16.174262  32.772701
36      Sylvester            7.594519  14.787909  15.104256  34.131044
        Marvin the Martian   6.598170  18.825025  12.286390  22.443954
        Road Runner          4.667389  25.219303  11.578976  25.019849
        Foghorn Leghorn      5.012291  28.017392  13.044875  22.511733
        Bugs Bunny           5.794768  10.590670  13.187857  31.714431
        Elmer Fudd           5.775849  22.853876  16.067098  29.577221
        Lola Bunny           3.914171  22.027211  14.872026  33.344650
        Porky Pig            5.495417  18.868502  14.952235  27.678406
        Tasmanian Devil      4.752332  24.771162   6.707257  16.659223
        Gossamer             7.205405  14.027215  13.564275  32.016736
        Granny               6.185020  26.585303  14.323094  26.370538
        Wile E. Coyote       7.170621  24.342011  17.270365  29.315535
        Tweety               7.055087  24.489003  11.129617  21.428418
        Penelope             6.424862  19.387688   7.101238  14.760541
        Daffy Duck           7.295149  16.303635  16.709717  34.234276

In [21]:
# Export the finished DataFrame to CSV.
game_df.to_csv('game_stats.csv')